/* structure */
.pw-form ol,
.pw-form ul { margin:0; }
.pw-form li { margin:0; overflow:hidden; padding:0; }
.pw-form p { margin-bottom:13px;}
.pw-form p.desc { color:#666; font-size:11px; font-style:italic; }
.pw-form .form { background-color:#fff; margin:20px; padding:20px; width:660px; }
.pw-form .label { float:left; line-height:1.4em; padding:10px; width:200px;}
.pw-form .field { font-size:11px; line-height:20px; padding:8px 10px 8px 230px; }

.pw-form .label.full { float:none; width:auto; }
.pw-form .field.full { clear:left; padding-left:0; }
.pw-form .field li, .field p { margin-bottom:5px; }
.pw-form .field ol.inline li { display:inline; }
.pw-form .field ol.columns li { display:inline-block; width:30%; }	
.pw-form .controls { border-top:1px solid #333; padding-top:10px;}
.pw-form .controls input.right { float:right; }

/* text/fonts */
.pw-form { color:#222; margin-top: 0.5em; }
.pw-form .label { font-size:13px; }

.pw-form input[type="text"],
.pw-form input[type="password"],
.pw-form textarea { }
.pw-form em { color:#c00; font-weight:bold; }

/* fields */
.pw-form input[type="text"],
.pw-form input[type="password"],
.pw-form textarea { }
.pw-form input.full[type="text"],
.pw-form input.full[type="password"],
.pw-form textarea, .full input[type="text"],
.pw-form .full input[type="password"],
.pw-form .full textarea { width:100%; }
.pw-form input.small[type="text"],
.pw-form input.small[type="password"] { width:105px; }
.pw-form input.tiny[type="text"],
.pw-form input.tiny[type="password"] { width:36px; }
.pw-form input,
.pw-form select { margin-right:3px; }
.pw-form input+label,
.pw-form select+label { margin-left:3px; }


/* errors */
.pw-form .pw-error input[type="text"],
.pw-form .pw-error input[type="password"],
.pw-form .pw-error textarea { background-color:#fff8f8; border-color:#c00; }
.pw-error-message { color:#c00; line-height:1.2; padding:3px 0 0 1px; }
div.error ul { margin: 0 0 1em 2em; }
div.error li { font-size:11px; list-style:square; line-height:1em; }


/* multi-model */
#pw-mm-form { display:block;margin-top:20px;padding:26px 0 20px;position:relative; }

#pw-mm-form .tabs {display:block;font-size:12px;line-height:12px;padding-left:20px;position:absolute;top:0px;white-space:nowrap;z-index:1;}
#pw-mm-form .tabs li{display:inline-block; font-size:11px; line-height:11px; overflow:visible;}
#pw-mm-form .tabs a{background-color:#F4F4F4;border-color:#DFDFDF #DFDFDF #CCCCCC;border-radius:5px 5px 0 0;-moz-border-radius:5px 5px 0 0;-webkit-border-radius:5px 5px 0 0;border-style:solid;border-width:1px 1px 0;color:#c1c1c1;display:inline-block;margin-right:6px;padding:7px 12px;text-decoration:none;text-shadow:0 1px 0 #FFFFFF;}
#pw-mm-form .tabs a:hover{color:#D54E21;}
#pw-mm-form .tabs a.selected{background-color:#ECECEC;border-color:#CCCCCC;color:#464646;font-weight:bold;padding-bottom:8px;}

#pw-mm-form .header { background-color:#ECECEC;border:1px solid #CCCCCC; padding:20px 20px 14px; -moz-border-radius:5px 5px 0 0; -webkit-border-radius:5px 5px 0 0; border-radius:5px 5px 0 0;}
#pw-mm-form .body{background-color:#FBFBFB; border-left: 1px solid #ccc; border-right:1px solid #ccc; padding:4px 20px 14px;}
#pw-mm-form .footer{ background-color:#ECECEC;border:1px solid #CCCCCC; padding:14px 20px; -moz-border-radius:0 0 5px 5px; -webkit-border-radius:0 0 5px 5px; border-radius:0 0 5px 5px; }

#pw-mm-form .model-title{color:#21759B;display:block;font:italic 20px/24px Georgia,"Times New Roman","Bitstream Charter",Times,serif;padding-left:5px;}
#pw-mm-form h3 { border-bottom:1px solid #DDDDDD; margin:1em 0; padding-bottom:6px; }
#pw-mm-form .submitdelete{border-bottom:1px solid #FF0000;color:#FF0000;font-size:11px;line-height:15px;margin-left:10px;padding:1px 2px;text-decoration:none;}
